@mixin translateY($param) {
   -webkit-transform:  translateY($param);
    -moz-transform:    translateY($param);
    -ms-transform:     translateY($param);
    -o-transform:      translateY($param);
    transform:         translateY($param);
}

@mixin translateZ($param) {
   -webkit-transform:  translateZ($param);
    -moz-transform:    translateZ($param);
    -ms-transform:     translateZ($param);
    -o-transform:      translateZ($param);
    transform:         translateZ($param);
}


@mixin transition($time) {
    -webkit-transition: $time;
    -moz-transition:    $time;
    -ms-transition:     $time;
    -o-transition:      $time;
    transition:         $time;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform:    rotate($deg);
    -ms-transform:     rotate($deg);
    -o-transform:      rotate($deg);
    transform:         rotate($deg);
}

@mixin rotateY($deg) {
    -webkit-transform: rotateY($deg);
    -moz-transform:    rotateY($deg);
    -ms-transform:     rotateY($deg);
    -o-transform:      rotateY($deg);
    transform:         rotateY($deg);
}

@mixin rotateX($deg) {
    -webkit-transform: rotateX($deg);
    -moz-transform:    rotateX($deg);
    -ms-transform:     rotateX($deg);
    -o-transform:      rotateX($deg);
    transform:         rotateX($deg);
}

@mixin delay($s) {
    -webkit-transition-delay: $s;
    -moz-transition-delay:    $s;
    -ms-transition-delay:     $s;
    -o-transition-delay:      $s;
    transition-delay:         $s;
}

@mixin background-radial-gradient($from, $to) {
    background: -webkit-radial-gradient($from, $to);
    background:    -moz-radial-gradient($from, $to);
    background:     -ms-radial-gradient($from, $to);
    background:      -o-radial-gradient($from, $to);
    background:         radial-gradient($from, $to);
}

@mixin transition($s) {
    -webkit-transition: $s;
    -moz-transition:    $s;
    -ms-transition:     $s;
    -o-transition:      $s;
    transition:         $s;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing:    $sizing;
    -ms-box-sizing:     $sizing;
    -o-box-sizing:      $sizing;
    box-sizing:         $sizing;
}