<!DOCTYPE html>
<html>
<head>
  <title>Aaron Magil</title>
  <link href="./css/normalize.css" rel="stylesheet">
  <link href="./css/application.css" rel="stylesheet">
</head>
<body>
  include src/templates/header
  <main>
    <div class="details">
      <h2>Work Experience</h2>
      each value in locals.workHistory
        include src/templates/job
    </div>
    <div class="miscellanea">
      <h2>Technical Skill</h2>
        include src/templates/skills
      <h2>Activities</h2>
        each value in locals.activities
          include src/templates/activity
    </div>
  </main>
  <script src="http://localhost:35729/livereload.js?snipver=1"></script>
</body>
</html>
