<header class="header">
  <div class="header__personal">
    <h1 class="header__name">Aaron Magil</h1>
    <div class="home-address sm-hide">
      <span>10 Upland Rd.</span>
      <span>Arlington, MA 02474</span>
    </div>
  </div>
  <address class="header__contact">
    <p><a href="mailto:abmagil@gmail.com">abmagil@gmail.com</a></p>
    <p class="sm-hide">781-572-4387</p>
    <p class="github"><a href="http://github.com/abmagil" target="_blank">github.com/abmagil</a></p>
  </address>
</header>
