.header {
  border-bottom: 2px solid black;
  font-family: Cinzel, sans-serif;
  font-weight: 100;

  @media print, (min-width: ($header-breakpoint)) {
    display: flex;
    justify-content: space-between;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-style: normal;
    justify-content: flex-end;
    font-size: 1em;
    @media print, (min-width: ($header-breakpoint)) {
      font-size: 1.3em;
    }

    p {
      margin: 0;
      text-align: left;
      @media print, (min-width: ($header-breakpoint)) {
        text-align: right;
      }
    }

    .github:before {
      content: url("../img/GitHub.svg");
    }
  }

  &__name {
    font-weight: lighter;
    font-size: 2.5em;
    @media print, (min-width: ($header-breakpoint)) {
      font-size: 3.75em;
    }
    letter-spacing: -2px;
    line-height: 80%;
    margin: 0;
    white-space: nowrap;
  }

  &__personal {
    .home-address {
      @media print, (min-width: ($header-breakpoint)) {
        display: flex;
        flex-wrap: wrap;
      }
      
      font-size: 1.25em;
      justify-content: space-between;

      *:first-child {
        margin-right: 15px;
      }

    }
  }
}
