.education {
  line-height: 100%;
  margin-bottom: 15px;

  &__details {
    @media print, (min-width: $body-breakpoint + 1) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__location {
    font-weight: bold;
  }
}
