.job {
  line-height: 100%;
  margin-bottom: 15px;

  &__title {
    @media screen and (max-width: $body-breakpoint) {
      display: block;
      margin: 5px auto
    }
  }

  &__details {
    @media print, (min-width: $body-breakpoint + 1) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__employer {
    font-weight: bold;

    @media (max-width: $body-breakpoint) {
      display: block;
      margin: 5px auto
    }
  }

  &__responsibilities {
    font-size: 14px;
    list-style: none;
    margin: .25em auto;
    padding-left: 1.1em;

    li {
      margin-bottom: 2px;

      &:before {
        content: "\00b7";
        margin: 0 0.1em 0 -1em;
      }
    }    
  }
}
