.job {
  line-height: 100%;
  margin-bottom: 15px;

  &__title {

    
    @media (max-width: 625px) {
      display: block;
      margin: 5px auto
    }
  }

  @media (min-width: 625px) {
    &__dates {
      float: right;
    }
  }

  &__employer {
    font-weight: bold;

    @media (max-width: 625px) {
      display: block;
      margin: 5px auto
    }
  }

  &__responsibilities {
    font-size: 14px;
    list-style: none;
    margin: .25em auto;
    padding-left: 1.1em;

    li {
      margin-bottom: 2px;

      &:before {
        content: "\00b7";
        margin: 0 0.1em 0 -1em;
      }
    }

  }
}
