@import 'https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text:400,400i,600,600i,700i';

@import "headers";
@import "header";
@import "job";
@import "skills";
@import "activity";

body {
  background-color: #fffff8;
  color: #111111;
  font-family: 'Crimson Text', serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  display: flex;
  justify-content: space-between;

  h2 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  h3 {
    display: inline;
    font-style: italic;
    letter-spacing: -.3px;
  }

  p {
    margin: .25em auto;
  }
}

.details {
  width: 60%;
  margin-right: 30px;
}

.miscellanea {
  width: 40%;
}

.sm-hide {
  @media (max-width: 700px) {
    display: none;
  }
}
